#contact p {
    text-align: center;
    margin-bottom: 0.5em;
}

#contact .word.list {
    margin-bottom: 0.5em;
}

#contact .link {
    text-decoration: none;
    color: black;
}

#contact .word .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
}

#contact .word .logo {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}

#contact .icon.list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .icon .logo {
    height: 2em;
    width: 2em;
    margin: 0 1em;
}
