#hero {
    display: flex;
    flex-direction: column;
}

#hero .no-break, #hero .name {
    white-space: nowrap;
}

#hero .container {
    margin: 0 auto 1em auto;
    width: 75%;
}

#hero .picture {
    border: 1em solid black;
    border-radius: 50%;
    width: 100%;
}

#hero .caption {
    text-align: center;
}
