:root {
    --width: 640px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", Monaco, monospace;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: inline;
    padding: 1em;
    margin: 0;
    max-width: var(--width);
}

h1, h2 {
    text-align: center;
    margin: 0.5em 0;
}

h1 {
    font-size: 1.5em;
}

h1 a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 1.25em;
}

@media only screen and (min-width: 992px) {

    :root {
        --width: 745px;
    }

}

@media only screen and (min-width: 1200px) {

    :root {
        --width: 900px;
    }

}
