#projects .github {
    text-decoration: underline;
}

#projects .container p, .arrows {
    width: fit-content;
    margin: auto;
}

#projects .carousel {
    overflow-y: scroll;
    max-height: calc(var(--width) / 2);
    border: 0.5em solid black;
}

#projects .card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 16em;
    max-width: calc(var(--width));
    padding: 1em;
}

#projects .language {
    text-align: center;
    margin-bottom: 0.5em;
}

#projects .links {
    margin-top: auto;
}

#projects .link {
    display: block;
    color: black;
}

#projects .link.dead {
    color: gray;
    text-decoration: line-through;
}

#projects .blog {
    margin-top: 1em;
}

#projects .blog .link {
    display: inline;
}
