#projects .github {
    text-decoration: underline;
}

#projects
.container .status,
.arrows {
    width: fit-content;
    margin: auto;
}

#projects .container {
    margin: 1em;
}

#projects .carousel {
    overflow-y: scroll;
    max-height: calc(var(--width) / 2);
    border: 0.5em solid black;
}

#projects .card {
    border: 1px solid black;
    max-width: calc(var(--width));
    padding: 1em;
}

#projects .language {
    text-align: center;
    margin-bottom: 0.5em;
}

#projects .description {
    margin-bottom: 1em;
}

#projects .link {
    display: block;
    color: black;
}

#projects .link.dead {
    color: gray;
    text-decoration: line-through;
}

#projects .blog {
    margin-top: 1em;
}

#projects .blog .link {
    display: inline;
}
