/* Global */

:root {
    --primary-color: black;
    --primary-text-color: white;
    --secondary-color: gold;
    --default-font: 'Monaco', monospace;
    --normal-font-size: 1.2em;
    --larger-font-size: 2em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--default-font);
    color: var(--primary-text-color);
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Icons';
    src: local('monospace'), url('/css/icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 'Icons';
    font-size: inherit;
    text-rendering: auto;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--primary-color);
}

h1 {
    font-size: var(--larger-font-size);
}

p,
a {
    font-size: var(--normal-font-size);
}

.hidden {
    display: none;
}

.loading,
.error {
    margin-top: 1.6em;
}

/* Secondary Color */

nav li a ,
section .title,
section p::before,
#hero .blurb {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color);
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    margin: 0 1em 0 0;
}

.home {
    display: block;
    height: 2em;
    width: 2em;
}

/* Section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

article {
    margin-top: 1.6em;
    max-width: 40em;
}

article * {
    margin: 0 0 0.6em 0;
}

/* Hero */

#hero {
    position: relative;
}

#hero .blurb {
    position: absolute;
    top: 55%;
    font-size: min(4vw, 2em);
    text-align: center;
}

#hero .picture {
    max-width: 40em;
    width: 80%;
}

/* About */

#about a {
    font-size: inherit;
}

/* Work */

#work .company::before {
    content: 'Company: ';
}

#work .date::before {
    content: 'Date: '
}

#work .description::before {
    content: 'Description: '
}

#work .technology::before {
    content: 'Technology: ';
}

/* Projects */

#projects .name::before {
    content: 'Project: ';
}

#projects .languages::before {
    content: 'Languages: ';
}

#projects .description::before {
    content: 'Description: ';
}

#projects .link {
    display: inline-block;
}

/* Contact */

#contact .icons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    list-style: none;
}

#contact .icons li {
    margin: 0 1em;
}

#contact .icons a {
    font-size: calc(var(--normal-font-size) * 2);
}

/* Footer */

footer {
    margin-top: 1em;
    padding: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    /* Global */

    :root {
        --normal-font-size: 1em;
        --larger-font-size: 1.2em;
    }

    /* Header */

    nav {
        display: block;
    }

    nav ul {
        margin-top: 1em;
    }

    nav ul li:last-child {
        margin: 0;
    }

    .home {
        margin: auto;
    }

    /* Section */

    article {
        width: 80%;
    }

    article *::before {
        display: block;
    }

}
